<!DOCTYPE html>
{% load static %}

<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Page Layout</title>
	<style>

		body {
			margin: 0 auto;
			background-position: center;
			background-size: contain;
		}

		footer {
			width: 100%;
			bottom: 0px;
			background-color: #000;
			color: #fff;
			position: absolute;
			padding-top: 20px;
			padding-bottom: 50px;
			text-align: center;
			font-size: 30px;
			font-weight: bold;
		}

		.body_sec {
			margin-left: 20px;
		}
	</style>
</head>

<body>
	{% include 'snippets/header.html' %}
	<!-- Body section -->
	<main class="body_sec">
		<section id="Content">
			{% block content %}

			{% endblock %}
		</section>
	</main>

	<!-- Footer Section -->
	<footer>Footer Section</footer>
</body>

</html>
